// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media only screen and (max-width: 576px) {
  html,
  body,
  * {
    font-size: 13px;
  }
  .container {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    transition: all 0.5s ease-in-out;

    .desktop__menu {
      display: none;
    }

    .mobile__menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: rgba($primary-color, 0.97);
      width: 100%;
      height: vh100;
      padding: 0 80px 0 20px;
      transition: all 0.5s ease-in-out;

      .menu__btn {
        position: absolute;
        top: 15px;
        right: 20px;
        transition: all 0.5s ease-in-out;

        .btn__line {
          height: 2px;
          width: 28px;
          background: #fff;
          transition: all 0.5s ease-in-out;

          &.show {
            &:nth-child(1) {
              transform: rotate(45deg) translate(4px, 3px);
            }

            &:nth-child(2) {
              background: red;
              opacity: 0;
            }

            &:nth-child(3) {
              transform: rotate(-45deg) translate(7px, -6px);
            }
          }

          &:not(:last-child) {
            margin-bottom: 5px;
          }
        }

        &.show {
          transform: rotate(180deg);
        }
      }
      .menu_m {
        display: none;

        &.show {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-top: 50px;

          .menu__item {
            margin-bottom: 50px;
            font-size: 1.4rem;
          }
        }
      }

      &.show {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;

        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 20px;
      }
    }
  }

  .hero {
    height: 40vh;

    &__container {
      & .content {
        & .title {
          font-size: 2rem;
        }

        & .sub__title {
          font-size: 0.8rem;

          & span {
            font-size: 0.8rem;
            padding: 5px 4px;
          }
        }
      }
    }
  }

  .about {
    flex-direction: column-reverse;
    margin: 40px 40px 0 40px;

    &__image,
    & .content {
      width: 100%;
      height: 100%;
    }

    &__image {
      display: none;
    }

    .content {
      .content__title {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
      }
    }
  }

  .nowselling {
    margin-top: 40px;

    .content {
      padding-top: 30px;

      &__body {
        flex-direction: column;
      }
    }
  }

  .newsletter__container {
    .title {
      font-size: 1rem;

      span {
        font-size: 0.9rem;
      }
    }

    .sub__title {
      font-size: 0.7rem;
      margin: 10px 20px;
    }

    .group__input {
      width: 100%;
      height: 110px;
      flex-direction: column;
      padding: 0 20px;
      margin: 0 10px;

      .input__ input[type="text"] {
        margin-bottom: 10px;
        font-weight: 400;
      }

      input[type="text"],
      .btn__subscribe {
        width: 100%;
        height: 50px;
        border-radius: 6px;
      }
    }
  }

  .footer {
    &__container {
      height: 200px;
      justify-content: flex-start;

      .footer__logo {
        width: 150px;
        margin-top: 30px;
      }

      .footer__menu {
        .menu {
          .menu__item {
            font-size: 0.7rem;
          }
        }
      }

      .copyright {
        text-align: center;
        font-size: 0.7rem;
        letter-spacing: 0px;
      }
    }
  }

  .a {
    margin: 50px;
    .header {
      .divider {
        margin-bottom: 50px;
        .empty__divider {
          width: 150px;
        }
      }
    }
  }

  .xcontent {
    flex-direction: column;

    & .w {
      margin-bottom: 50px;

      .content__header {
        margin-bottom: 5px;
      }

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }

  .plan {
    flex-direction: column;
    height: 100%;
    .mission,
    .vision {
      padding: 80px 50px;
      text-align: center;
      width: 100%;
    }
  }

  .project{
    margin: 10px 30px;

    .service__card{
      width: 150px;
      height: 150px;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
