.card {
  margin: 0 10px;
  min-width: 250px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  &__image {
    width: 100%;
    height: 250px;
    background-size: cover;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
  }

  &__title {
    font-size: 1.4rem;
    font-weight: 500;

    &-sub {
      font-style: italic;
    }
  }
}
